
<div class="row">
    <div class="col-6">
        
        <div class="card m-5 p-1 border-dark rounded text-light bg-dark">
            <div class="card-header">
              
                <h3 class="text-center">

                    Sobre mí...

                </h3>

            </div>
            <div class="card-body">

                <p>
                    <!-- Interpolación -->

                    Hola, me llamo {{autor.nombre}} {{autor.apellidos}} de {{autor.ciudad}} y actual estudiante de CFGS de Desarrollo de Aplicaciones Web.
                    Soy un apasionado del software, que intenta día a día seguir aprendiendo e innovando en este amplio sector.

                    <br>

                    Tengo experiencia en el sector comercial, además del administrativo y servicios. Teníendo así experiencia fuera del sector del software y
                    dándome cuenta de que mi lugar se encuentra aquí, en el desarrollo.

                </p>

            </div>
          </div>

    </div>
    
    <div class="col-6">
        
        <div class="m-5 p-4 card border-dark rounded text-light bg-dark" id="contacto">
            <div class="card-header">
              
                <h3 class="text-center">

                    Datos de contacto.

                </h3>

            </div>
            <div class="card-body">

                <!-- Interpolación -->

                <ul>

                    <li>Teléfono: {{autor.telefono}}</li>

                    <li class="mb-3 mt-3">Telegram: {{autor.telegram}}</li>

                    <li>Email: {{autor.correo}}</li>

                </ul>

            </div>
          </div>

    </div>

</div>

<div class="row">
    <div class="col-12">
        
        <div class="card m-4 border-dark rounded text-light bg-dark">
            <div class="card-header">
              
                <h3 class="text-center">

                    Tecnologías y herramientas usadas...

                </h3>

            </div>
            <div class="card-body">

                <p>

                    Las tecnologías usadas en este proyecto, el cual tu estas experimentado son: Angular 11.2, Bootstrap 4.6, Node 14.15, TypeScript 4.1, HTML 5, CSS 3, PHP 7.4, MySQL 5.4

                </p>

                <hr>

                <p>

                    Un resumen de las herramientas más importantes usadas serían: Visual Studio Code, Ubuntu 20.04, Google Chrome, Firefox

                </p>

            </div>
          </div>

    </div>

</div>

<div class="row">
    <div class="col-12">
        
        <div class="card m-4 border-dark rounded text-light bg-dark">
            <div class="card-header">
              
                <h3 class="text-center">

                    Directivas y otras características usadas. 

                </h3>

            </div>
            <div class="card-body text-center">

                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>Acerca</th>
                            <th>Footer</th>
                            <th>Header</th>
                            <th>Home</th>
                            <th>Login</th>
                            <th>Productos</th>
                            <th>Registro</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">Interpolación</td>
                            <td>Pipe Uppercase, Date, Tittlecase, Propio</td>
                            <td>Property Binding, Event Binding, Directiva ngIf, ng-template</td>
                            <td>Property Binding, Interpolación</td>
                            <td>Clases dinámicas CSS, Two Way Binding, Event Binding, Paquete errores custom,ng-container, ngTemplateOutlet, ngIf, ng-template</td>
                            <td>ngClass, ngFor, Pipe propio, Interpolación</td>
                            <td>Clases dinámicas CSS, Two Way Binding, Event Binding, Paquete errores custom,ng-container, ngTemplateOutlet, ngIf, ng-template</td>
                        </tr>
                    </tbody>
                </table>

                <h5>

                    Otras carácteristicas usadas.

                </h5>

                <hr>

                <p>

                    Modelo, Servicios, Componentes, Routing, Guards

                </p>

            </div>
          </div>

    </div>

</div>

<div class="row">
    <div class="col-12">
        
        <div class="card m-4 border-dark rounded text-light bg-dark">
            <div class="card-header">
              
                <h3 class="text-center">

                    Fuentes 

                </h3>

            </div>
            <div class="card-body text-center">

                <a href="https://oscarb74.bitbucket.io/DWEC/DWEC_06/4_data_binding.html">Apuntes temario</a>

                <hr>

                <a href="https://angular.io/docs">Documentación Angular</a>

                <hr>

                <a href="https://www.npmjs.com/">Web oficial NPM</a>

                <hr>

                <a href="https://www.youtube.com/c/LeiferMendez">Curso Angular 11</a>

                <hr>

                <a href="https://github.com/ngneat/error-tailor">Paquete npm error tailor</a>

            </div>
          </div>

    </div>

</div>